.logo {
  fill: #f8f8f8;
  width: auto;
  height: 100px;
  transition: all 0.3s ease-in-out; }

.header__logo-link {
  width: 60px;
  height: 60px; }
  .header__logo-link:hover .logo {
    fill: #3383EA; }

a[href^="tel"] {
  color: inherit;
  /* Inherit text color of parent element. */
  text-decoration: none;
  /* Remove underline. */
  /* Additional css `propery: value;` pairs here */ }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.header {
  background-color: #878F94;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center; }

.header__nav {
  background-color: rgba(145, 178, 223, 0.219); }

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header__nav-wrapper {
  display: none;
  flex-direction: column;
  justify-content: space-between; }

.header__login-btn, .header__telephone {
  height: 50px;
  border: none;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.02em;
  width: 100%;
  background-color: rgba(171, 195, 228, 0);
  color: white;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 13px; }
  .header__login-btn svg, .header__telephone svg {
    margin-right: 13px;
    fill: white; }
  .header__login-btn:hover, .header__telephone:hover {
    background-color: rgba(190, 190, 224, 0.068); }
    .header__login-btn:hover svg, .header__telephone:hover svg {
      fill: #3383EA; }
  .header__login-btn:active, .header__telephone:active {
    opacity: 0.3; }
    .header__login-btn:active svg, .header__telephone:active svg {
      fill: white; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger {
  margin: 0 auto;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 20px;
  border-radius: 10px;
  top: 16px; }

.hamburger .bar {
  padding: 0;
  width: 35px;
  height: 2px;
  border-radius: 10%;
  background-color: white;
  display: block;
  transition: all 0.4s ease-in-out;
  position: absolute; }

.bar1 {
  top: 2px; }

.bar2,
.bar3 {
  top: 13.5px; }

.bar3 {
  right: 0; }

.bar4 {
  bottom: 2px; }

.hamburger .bar4 {
  top: 13.5px; }

.hamburger .bar5 {
  bottom: 2px; }

.hamburger .bar {
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s; }

.hamburger .bar2 {
  width: 1px;
  transform: rotate(90deg);
  left: 13.5px; }

.hamburger .bar3 {
  width: 1px;
  left: 13.5px; }

.checkbox:checked + label > .hamburger4 > .bar1 {
  top: 13.5px;
  background-color: transparent; }

.checkbox:checked + label > .hamburger4 > .bar2 {
  left: 0px;
  width: 30px;
  transform: rotate(45deg); }

.checkbox:checked + label > .hamburger4 > .bar3 {
  left: 0;
  width: 30px;
  transform: rotate(-45deg); }

.checkbox:checked + label > .hamburger4 > .bar4 {
  background-color: transparent; }

.checkbox:checked + label > .hamburger4 > .bar5 {
  bottom: 13.5px;
  background-color: transparent; }

.header__list {
  text-align: center;
  list-style: none; }

.header__item {
  height: 50px;
  line-height: 50px; }
  .header__item:hover {
    background-color: rgba(190, 190, 224, 0.068); }

.header__link {
  font-weight: 300;
  letter-spacing: 0.09em;
  text-decoration: none;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  transition: ease 0.1s; }

@media (min-width: 800px) {
  .burger {
    display: none; }
  .header {
    padding-top: 40px; }
  .header__nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(171, 195, 228, 0); }
  .header__list {
    display: flex;
    width: 80%;
    max-width: 650px;
    justify-content: space-between; }
  .header__logo-link {
    width: 10%; }
  .header__nav-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%; }
  .header__user-nav {
    display: flex; }
  .header__item {
    height: 60px;
    line-height: 60px;
    transition: ease 0.1s; }
    .header__item:hover {
      background-color: rgba(171, 195, 228, 0); }
      .header__item:hover a {
        transition: ease-out 0.1s;
        border-bottom: 2px solid #3383EA; }
  .header__telephone, .header__login-btn {
    font-size: 0px;
    padding-left: 10px;
    transition: ease-out 0.4s;
    height: 60px; }
    .header__telephone svg, .header__login-btn svg {
      fill: white; }
    .header__telephone:hover, .header__login-btn:hover {
      font-size: 16px;
      background-color: rgba(171, 195, 228, 0); }
      .header__telephone:hover svg, .header__login-btn:hover svg {
        fill: #3383EA; }
  .header__telephone {
    white-space: nowrap; } }

@media (min-width: 1100px) {
  .header__telephone, .header__login-btn {
    font-size: 16px; }
  .header {
    padding-top: 70px; }
  .header__nav {
    padding: 0 50px;
    max-width: 1340px;
    margin: 0 auto; }
  .logo {
    width: 94px;
    height: 134px; } }

@media (min-width: 1360px) {
  .header__nav {
    padding: 0; } }

.header__h2 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 45px; }

.main-header__text {
  color: white;
  margin: 20px 0;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300; }

.main-header {
  width: 90%;
  max-width: 1340px;
  margin: 50px auto; }

.main-header__1-coll {
  width: 100%;
  max-width: 590px;
  margin: 0 auto; }

.btn {
  height: 50px;
  border-radius: 35px;
  border: 2px solid #3383EA;
  color: white;
  font-weight: 300;
  padding: 0 10px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  background-color: rgba(171, 195, 228, 0); }
  .btn:hover {
    background-color: rgba(145, 178, 223, 0.219); }

.main-header__btn-wrp {
  margin: 30px 0;
  display: flex;
  justify-content: space-between; }

.main-header__1-btn {
  width: 47%;
  background-color: #3383EA; }
  .main-header__1-btn:hover {
    background-color: rgba(80, 139, 223, 0.7); }

.main-header__2-btn {
  width: 47%; }

.main-header__radio {
  display: none; }

.main-header__2-coll {
  max-width: 590px;
  margin: 40px auto -60px;
  display: flex;
  justify-content: space-between; }

.main-radio input[type='radio']:checked + label {
  background-color: rgba(0, 0, 6, 0.95);
  color: black; }

.learn-icon {
  stroke: #3383EA; }

.learn-icon, .signal-icon, .done-icon {
  fill: #3383EA; }

.radio-label {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none; }

.input-radio {
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding-top: 25px;
  height: 130px;
  width: 100%;
  text-align: center;
  line-height: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .input-radio svg {
    margin: 0 0 15px 0; }

.input-radio:focus {
  outline: none; }

.input-radio:checked {
  /*no need, if you don't disable default appearance*/
  background-color: rgba(51, 131, 234, 0.52); }

.input-radio:checked:hover {
  /*no need, if you don't disable default appearance*/
  background-color: rgba(81, 142, 223, 0.52); }

.input-radio:hover:not(:checked) {
  /*no need, if you don't disable default appearance*/
  background-color: rgba(255, 255, 255, 0.7); }

.input-radio:checked ~ span:first-of-type {
  color: white; }

.input-radio:checked ~ .signal-icon {
  fill: white; }

.input-radio:checked ~ .done-icon {
  fill: white; }

.input-radio:checked ~ .learn-icon {
  stroke: white; }

.input-radio span:first-of-type {
  position: relative;
  font-size: 15px;
  color: #313131; }

.radio-label span {
  position: relative;
  top: -90px; }

.radio-label svg {
  position: relative;
  top: -100px; }

@media (min-width: 402px) {
  .header__h2 {
    font-size: 37px;
    line-height: 50px; } }

@media (min-width: 802px) {
  .header__h2 {
    font-size: 50px;
    line-height: 70px; }
  .main-header {
    display: flex;
    justify-content: space-between; }
  .main-header__1-coll {
    margin: 50px 0;
    max-width: 490px; }
  .main-header__2-coll {
    flex-direction: column;
    margin: 0;
    width: 20%;
    max-width: 150px; }
  .radio-label {
    height: 225px;
    width: 100%;
    max-width: 150px;
    margin-bottom: -85px; }
  .main-header__1-btn {
    width: 278px; }
  .main-header__2-btn {
    width: 179px; } }

@media (min-width: 1080px) {
  .header__h2 {
    font-size: 55px;
    line-height: 70px; }
  .main-header__1-coll {
    max-width: 590px; }
  .main-header__btn-wrp {
    max-width: 490px; } }

.about {
  display: flex;
  flex-direction: column; }

.about__h2 {
  margin-top: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.105em;
  font-size: 25px;
  text-align: center; }

.about__h2-line {
  height: 2px;
  background-color: #3383EA;
  width: 180px;
  display: block;
  margin: 10px auto; }

.about__logo-wrp {
  display: flex;
  width: 220px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto; }

.about__logo-text {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.2em; }

.about__text {
  width: 90%;
  margin: 10px auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #8B8B8B; }

.about__numbers {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 30px auto;
  justify-content: space-between; }

.about__num-cell {
  width: 50%;
  margin-bottom: 30px; }

.about__num-num {
  letter-spacing: 0.1em;
  color: #3383EA;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center; }

.about__num-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  text-align: center; }

.advantages {
  background-color: #F2F5F6;
  padding: 30px 0;
  background-image: url("../img/adv-bg.jpg");
  background-size: cover; }

.adv__wrp {
  max-width: 1250px;
  margin: 0 auto; }

.adv__card {
  text-align: center;
  margin: 40px 0; }

.adv__title {
  margin: 20px 0;
  font-size: 23px;
  line-height: 27px; }

.adv__descr {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px; }

@media (min-width: 750px) {
  .about__header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .about__h2-wrp {
    width: 35%; }
  .about__text {
    width: 55%;
    margin: 0 0 0 auto; }
  .about__h2 {
    font-size: 30px; }
  .about__h2-line {
    width: 220px; }
  .about__numbers {
    margin-top: 0;
    flex-direction: row;
    align-items: center; }
  .about__num-cell {
    width: 22%;
    margin-top: 20px; }
  .adv__wrp {
    display: flex;
    justify-content: space-between; }
  .about__num-num2 {
    padding-top: 30px; }
  .adv__card {
    width: 33%; }
  .adv__title1 {
    margin-top: 27px; }
  .adv__title3 {
    margin-top: 5px; } }

@media (min-width: 1079px) {
  .about__header {
    max-width: 1100px;
    margin: 0 auto; }
  .about__h2 {
    font-size: 50px; }
  .about__h2-line {
    width: 372px; }
  .about__h2-wrp {
    width: 390px; }
  .about__text {
    padding-top: 50px; }
  .about__logo-text {
    font-size: 25px; }
  .about__logo {
    margin-right: 10px; }
  .about__logo-wrp {
    margin: 20px 0 0 50px; }
  .about__num-num {
    font-size: 40px; }
  .about__numbers {
    max-width: 1200px;
    margin: 20px auto; } }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #C8C7C7;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3383EA;
  border: none;
  cursor: pointer;
  background-image: url("../img/dollar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%; }

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3383EA;
  border: none;
  cursor: pointer;
  background-image: url("../img/dollar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%; }

.invest__radio input[type="radio"] {
  width: 80px;
  height: 35px;
  border-radius: 9px;
  border: none;
  background-color: white;
  -webkit-appearance: none;
  /*to disable the default appearance of radio button*/
  -moz-appearance: none;
  transition: all 0.3s ease-in-out; }

.invest__radio {
  border: none;
  white-space: nowrap; }

.invest__radio--1 input[type="radio"] {
  box-shadow: 0px 0px 10px #FFC700; }

.invest__radio--2 input[type="radio"] {
  box-shadow: 0px 0px 10px #0DA500; }

.invest__radio--3 input[type="radio"] {
  box-shadow: 0px 0px 10px #FF0000; }

.invest__radio input[type="radio"]:focus {
  /*no need, if you don't disable default appearance*/
  outline: none;
  /*to remove the square border on focus*/ }

.invest__radio--1 input[type="radio"]:checked {
  /*no need, if you don't disable default appearance*/
  background-color: #ffc800; }

.invest__radio--2 input[type="radio"]:checked {
  /*no need, if you don't disable default appearance*/
  background-color: #0DA500; }

.invest__radio--3 input[type="radio"]:checked {
  /*no need, if you don't disable default appearance*/
  background-color: #FF0000; }

.invest__radio input[type="radio"]:checked ~ span:first-of-type {
  color: white; }

.invest__btn-text:first-of-type {
  position: relative;
  margin-left: -35px;
  left: -27px;
  width: 1px;
  font-size: 15px;
  color: #313131; }

.invest__btn-text {
  position: absolute;
  top: -12px; }

.invest__h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 40px 0 30px 0;
  text-align: center;
  font-weight: 300;
  line-height: 28px; }

.invest__btn-wrp {
  width: 90%;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  justify-content: space-between; }

.invest__btn-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

.invest__sum-inv {
  margin: 30px auto 20px;
  width: 100%;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  justify-content: space-between; }

.invest__sum--span {
  border-bottom: 1px solid black;
  font-size: 22px; }

.invest__slider {
  width: 90%;
  margin: 0 auto; }

.invest__text-wrp {
  width: 90%;
  margin: 0 auto;
  display: none; }

.invest__active {
  display: block; }

.invest__sum-inv--profit {
  width: 90%; }

.invest__company {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  margin: 30px 0 20px; }

.invest__company-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto'; }

.page {
  display: grid; }
