.logo {
  fill: #f8f8f8;
  width: auto;
  height: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.header__logo-link {
  width: 60px;
  height: 60px; }
  .header__logo-link:hover .logo {
    fill: #3383EA; }

a[href^="tel"] {
  color: inherit;
  /* Inherit text color of parent element. */
  text-decoration: none;
  /* Remove underline. */
  /* Additional css `propery: value;` pairs here */ }

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important; }

.header {
  background-color: #878F94;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center; }

.header__nav {
  background-color: rgba(145, 178, 223, 0.219); }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__nav-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__login-btn, .header__telephone {
  height: 50px;
  border: none;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.02em;
  width: 100%;
  background-color: rgba(171, 195, 228, 0);
  color: white;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 13px; }
  .header__login-btn svg, .header__telephone svg {
    margin-right: 13px;
    fill: white; }
  .header__login-btn:hover, .header__telephone:hover {
    background-color: rgba(190, 190, 224, 0.068); }
    .header__login-btn:hover svg, .header__telephone:hover svg {
      fill: #3383EA; }
  .header__login-btn:active, .header__telephone:active {
    opacity: 0.3; }
    .header__login-btn:active svg, .header__telephone:active svg {
      fill: white; }

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.hamburger {
  margin: 0 auto;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 20px;
  border-radius: 10px;
  top: 16px; }

.hamburger .bar {
  padding: 0;
  width: 35px;
  height: 2px;
  border-radius: 10%;
  background-color: white;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute; }

.bar1 {
  top: 2px; }

.bar2,
.bar3 {
  top: 13.5px; }

.bar3 {
  right: 0; }

.bar4 {
  bottom: 2px; }

.hamburger .bar4 {
  top: 13.5px; }

.hamburger .bar5 {
  bottom: 2px; }

.hamburger .bar {
  -webkit-transition: all 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out 0.3s;
  -o-transition: all 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out, transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s; }

.hamburger .bar2 {
  width: 1px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 13.5px; }

.hamburger .bar3 {
  width: 1px;
  left: 13.5px; }

.checkbox:checked + label > .hamburger4 > .bar1 {
  top: 13.5px;
  background-color: transparent; }

.checkbox:checked + label > .hamburger4 > .bar2 {
  left: 0px;
  width: 30px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.checkbox:checked + label > .hamburger4 > .bar3 {
  left: 0;
  width: 30px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.checkbox:checked + label > .hamburger4 > .bar4 {
  background-color: transparent; }

.checkbox:checked + label > .hamburger4 > .bar5 {
  bottom: 13.5px;
  background-color: transparent; }

.header__list {
  text-align: center;
  list-style: none; }

.header__item {
  height: 50px;
  line-height: 50px; }
  .header__item:hover {
    background-color: rgba(190, 190, 224, 0.068); }

.header__link {
  font-weight: 300;
  letter-spacing: 0.09em;
  text-decoration: none;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  transition: ease 0.1s; }

@media (min-width: 800px) {
  .burger {
    display: none; }
  .header {
    padding-top: 40px;
    padding-bottom: 30px; }
  .header__nav {
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: rgba(171, 195, 228, 0); }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    max-width: 650px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo-link {
    width: 10%; }
  .header__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%; }
  .header__user-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__item {
    height: 60px;
    line-height: 60px;
    -webkit-transition: ease 0.1s;
    -o-transition: ease 0.1s;
    transition: ease 0.1s; }
    .header__item:hover {
      background-color: rgba(171, 195, 228, 0); }
      .header__item:hover a {
        -webkit-transition: ease-out 0.1s;
        -o-transition: ease-out 0.1s;
        transition: ease-out 0.1s;
        border-bottom: 2px solid #3383EA; }
  .header__telephone, .header__login-btn {
    font-size: 0px;
    padding-left: 10px;
    -webkit-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    height: 60px; }
    .header__telephone svg, .header__login-btn svg {
      fill: white; }
    .header__telephone:hover, .header__login-btn:hover {
      font-size: 16px;
      background-color: rgba(171, 195, 228, 0); }
      .header__telephone:hover svg, .header__login-btn:hover svg {
        fill: #3383EA; }
  .header__telephone {
    white-space: nowrap; } }

@media (min-width: 1100px) {
  .header__telephone, .header__login-btn {
    font-size: 16px; }
  .header {
    padding-top: 70px;
    padding-bottom: 40px; }
  .header__nav {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto; }
  .logo {
    width: 94px;
    height: 134px; } }

@media (min-width: 1360px) {
  .header__nav {
    padding: 0; } }

.header__h2 {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 45px; }

.main-header__text {
  color: white;
  margin: 20px 0;
  line-height: 20px;
  font-size: 15px;
  font-weight: 300; }

.main-header {
  width: 90%;
  max-width: 1172px;
  margin: 50px auto; }

.main-header__1-coll {
  width: 100%;
  max-width: 590px;
  margin: 0 auto; }

.btn {
  height: 50px;
  border-radius: 35px;
  border: 2px solid #3383EA;
  color: white;
  font-weight: 300;
  padding: 0 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  background-color: rgba(171, 195, 228, 0); }
  .btn:hover {
    background-color: rgba(145, 178, 223, 0.219);
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.main-header__btn-wrp {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-header__1-btn {
  width: 47%;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: -o-linear-gradient(358.76deg, #3383ea 29.88%, #226ac6 61.31%);
  background: linear-gradient(91.24deg, #3383ea 29.88%, #226ac6 61.31%);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 4s ease-in infinite;
  animation: AnimationName 4s ease-in infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .main-header__1-btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.main-header__2-btn {
  width: 47%; }

.main-header__radio {
  display: none; }

.main-header__2-coll {
  max-width: 590px;
  margin: 40px auto -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main-radio input[type='radio']:checked + label {
  background-color: rgba(0, 0, 6, 0.95);
  color: black; }

.learn-icon {
  stroke: #3383EA; }

.learn-icon, .signal-icon, .done-icon {
  fill: #3383EA; }

.radio-label {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #313131;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  text-decoration: none; }
  .radio-label:hover .input-radio {
    background-color: rgba(255, 255, 255, 0.7); }
  .radio-label:focus {
    color: white; }
    .radio-label:focus svg {
      fill: white; }
    .radio-label:focus .learn-icon {
      stroke: white; }
    .radio-label:focus .input-radio {
      background: -o-linear-gradient(358.76deg, #3383ea 29.88%, #226ac6 61.31%);
      background: linear-gradient(91.24deg, #3383ea 29.88%, #226ac6 61.31%); }

.input-radio {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding-top: 25px;
  height: 130px;
  width: 100%;
  text-align: center;
  line-height: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .input-radio svg {
    margin: 0 0 15px 0; }

.input-radio:focus {
  outline: none; }

.radio-label--active {
  color: white; }
  .radio-label--active svg {
    fill: white; }
  .radio-label--active .learn-icon {
    stroke: white; }
  .radio-label--active .input-radio {
    background: -o-linear-gradient(358.76deg, #3383ea 29.88%, #226ac6 61.31%);
    background: linear-gradient(91.24deg, #3383ea 29.88%, #226ac6 61.31%); }
  .radio-label--active:hover .input-radio {
    background: -o-linear-gradient(358.76deg, #4e90e6 29.88%, #2e78da 61.31%);
    background: linear-gradient(91.24deg, #4e90e6 29.88%, #2e78da 61.31%); }

/*
.input-radio:checked {
  background-color: rgba(51, 131, 234, 0.52);
}

.input-radio:checked:hover {
  background-color: rgba(81, 142, 223, 0.52);
}

.input-radio:hover:not(:checked) {
  background-color: rgba(255, 255, 255, 0.7);
}


.input-radio:checked ~ span:first-of-type {
  color: white;
}

.input-radio:checked ~ .signal-icon{
  fill: white;
}
.input-radio:checked ~ .done-icon{
  fill: white;
}
.input-radio:checked ~ .learn-icon{
    stroke: white;
}
*/
.input-radio span:first-of-type {
  position: relative;
  font-size: 15px;
  color: #313131; }

.radio-label span {
  position: relative;
  top: -90px; }

.radio-label svg {
  position: relative;
  top: -100px; }

@media (min-width: 402px) {
  .header__h2 {
    font-size: 37px;
    line-height: 50px; } }

@media (min-width: 802px) {
  .header__h2 {
    font-size: 50px;
    line-height: 70px; }
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-header__1-coll {
    margin: 50px 0;
    max-width: 590px; }
  .main-header__2-coll {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 20%;
    max-width: 150px; }
  .radio-label {
    height: 225px;
    width: 100%;
    max-width: 150px;
    margin-bottom: -85px; }
  .main-header__1-btn {
    width: 278px; }
  .main-header__2-btn {
    width: 179px; } }

@media (min-width: 1080px) {
  .header__h2 {
    font-size: 55px;
    line-height: 70px; }
  .main-header__1-coll {
    max-width: 890px; }
  .main-header__btn-wrp {
    max-width: 490px; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.about__h2 {
  margin-top: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.105em;
  font-size: 25px;
  text-align: center; }

.about__h2-line {
  height: 2px;
  background-color: #3383EA;
  width: 180px;
  display: block;
  margin: 10px auto; }

.about__logo-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto; }

.about__logo-text {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.2em; }

.about__text {
  width: 90%;
  margin: 10px auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #8B8B8B; }

.about__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: 30px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about__num-cell {
  width: 50%;
  margin-bottom: 30px; }

.about__num-num {
  letter-spacing: 0.1em;
  color: #3383EA;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center; }

.about__num-text {
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  text-align: center; }

.advantages {
  background-color: #F2F5F6;
  padding: 30px 0;
  background-image: url("../img/adv-bg.jpg");
  background-size: cover; }

.adv__wrp {
  max-width: 1250px;
  margin: 0 auto; }

.adv__card {
  text-align: center;
  margin: 40px 0; }

.adv__title {
  margin: 20px 0;
  font-size: 23px;
  line-height: 27px; }

.adv__descr {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px; }

@media (min-width: 750px) {
  .about__header {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about__h2-wrp {
    width: 35%; }
  .about__text {
    width: 55%;
    margin: 0 0 0 auto; }
  .about__h2 {
    font-size: 30px; }
  .about__h2-line {
    width: 220px; }
  .about__numbers {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .about__num-cell {
    width: 22%;
    margin-top: 20px; }
  .adv__wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about__num-num2 {
    padding-top: 30px; }
  .adv__card {
    width: 33%; }
  .adv__title1 {
    margin-top: 27px; }
  .adv__title3 {
    margin-top: 5px; } }

@media (min-width: 1079px) {
  .about__header {
    max-width: 1100px;
    margin: 0 auto; }
  .about__h2 {
    font-size: 50px; }
  .about__h2-line {
    width: 372px; }
  .about__h2-wrp {
    width: 390px; }
  .about__text {
    padding-top: 50px; }
  .about__logo-text {
    font-size: 25px; }
  .about__logo {
    margin-right: 10px; }
  .about__logo-wrp {
    margin: 20px 0 0 50px; }
  .about__num-num {
    font-size: 40px; }
  .about__numbers {
    max-width: 1200px;
    margin: 20px auto; } }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #C8C7C7;
  outline: none;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3383EA;
  border: none;
  cursor: pointer;
  background-image: url("../img/dollar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%; }

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3383EA;
  border: none;
  cursor: pointer;
  background-image: url("../img/dollar.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%; }

.invest__radio input[type="radio"] {
  width: 100%;
  height: 35px;
  border-radius: 9px;
  border: none;
  background-color: white;
  -webkit-appearance: none;
  /*to disable the default appearance of radio button*/
  -moz-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.invest__radio {
  white-space: nowrap;
  border: none;
  width: 29%; }

.invest__radio--1 input[type="radio"] {
  -webkit-box-shadow: 0px 0px 10px #FFC700;
          box-shadow: 0px 0px 10px #FFC700;
  border: none; }

.invest__radio--2 input[type="radio"] {
  -webkit-box-shadow: 0px 0px 10px #0DA500;
          box-shadow: 0px 0px 10px #0DA500;
  border: none; }

.invest__radio--3 input[type="radio"] {
  -webkit-box-shadow: 0px 0px 10px #FF0000;
          box-shadow: 0px 0px 10px #FF0000;
  border: none; }

.invest__radio input[type="radio"]:focus {
  /*no need, if you don't disable default appearance*/
  outline: none;
  /*to remove the square border on focus*/ }

.invest__radio--1 input[type="radio"]:checked {
  /*no need, if you don't disable default appearance*/
  background-color: #ffc800; }

.invest__radio--2 input[type="radio"]:checked {
  /*no need, if you don't disable default appearance*/
  background-color: #0DA500; }

.invest__radio--3 input[type="radio"]:checked {
  /*no need, if you don't disable default appearance*/
  background-color: #FF0000; }

.invest__radio input[type="radio"]:checked ~ span:first-of-type {
  color: white; }

.invest__btn-text:first-of-type {
  position: relative;
  margin-left: -35px;
  left: -39%;
  font-size: 15px;
  color: #313131; }

.invest__btn-text {
  position: absolute;
  top: -12px; }

.invest__h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 40px 0 30px 0;
  text-align: center;
  font-weight: 300;
  line-height: 28px; }

.invest__btn-wrp {
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.invest__btn-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

.invest__sum-inv {
  margin: 30px auto 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.invest__sum--span {
  border-bottom: 1px solid black;
  font-size: 22px; }

.invest__slider {
  width: 90%;
  margin: 0 auto; }

.invest__text-wrp {
  width: 90%;
  margin: 0 auto;
  display: none; }

.invest__active {
  display: block; }

.invest__sum-inv--profit {
  width: 90%; }

.invest__company {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  margin: 30px 0 20px; }

.invest__company-text {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px; }

.opacity {
  opacity: 0; }

.gr_col1 {
  opacity: 1;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: popup 2s normal forwards cubic-bezier(0.48, 1.04, 0.8, 0.98);
          animation: popup 2s normal forwards cubic-bezier(0.48, 1.04, 0.8, 0.98); }

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes popup {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

.graph-line {
  opacity: 1;
  stroke-dashoffset: 630.6;
  -webkit-animation: circle-default 2.5s normal forwards;
          animation: circle-default 2.5s normal forwards;
  stroke-dasharray: 115%; }

@-webkit-keyframes circle-default {
  to {
    stroke-dashoffset: 0; } }

@keyframes circle-default {
  to {
    stroke-dashoffset: 0; } }

.grafic {
  width: 90%;
  height: auto;
  margin: 0 auto 50px; }

.grafic-svg {
  display: block;
  width: 100%;
  height: auto; }

.grafic__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 29px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 10% 0 17%; }

.disp-none {
  opacity: 0; }

@media (min-width: 550px) {
  .invest__btn-text:first-of-type {
    left: -43%; }
  .invest__h2 {
    font-size: 32px;
    margin: 50px 0; }
  .invest__btn-title {
    margin-bottom: 40px; } }

@media (min-width: 800px) {
  .grafic__text {
    font-size: 18px;
    line-height: 40px; }
  .invest__btn-text:first-of-type {
    left: -39%; }
  .invest__btn-title {
    text-align: left; }
  .invest {
    max-width: 1240px;
    width: 95%;
    margin: 20px auto 100px; }
  .invest__second-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .grafic {
    width: 65%;
    margin: 0;
    height: 65%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .invest__text-wrp-wrp {
    width: 30%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .invest__first-row {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .invest__btn-wrp {
    width: 43%;
    height: 60px;
    margin: 0; }
  .invest__slider {
    width: 50%;
    height: 60px;
    margin: 0; }
  .invest__sum-inv {
    margin: 0px auto 45px; } }

@media (min-width: 1000px) {
  .invest__btn-wrp {
    width: 35%;
    margin-left: 5%; } }

.mail__text {
  text-align: center; }

.mail__h2 {
  font-weight: 300;
  font-size: 27px;
  line-height: 50px; }

.mail__descr {
  text-transform: uppercase;
  font-weight: 300;
  line-height: 30px;
  font-size: 15px; }

.mail__input {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  width: 80%;
  display: block;
  margin: 30px auto;
  border-bottom: 1px solid #313131;
  padding: 10px 0;
  outline: none; }
  .mail__input:focus {
    border-bottom: 2px solid #313131; }

.mail__btn {
  width: 50%;
  max-width: 278px;
  height: 52px;
  border-radius: 25px;
  background-color: rgba(51, 131, 234, 0.84);
  border: none;
  color: #fff;
  -webkit-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
  text-transform: uppercase;
  line-height: 55px;
  display: block;
  margin: 40px auto;
  background: -o-linear-gradient(358.76deg, #3383ea 29.88%, #226ac6 61.31%);
  background: linear-gradient(91.24deg, #3383ea 29.88%, #226ac6 61.31%);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 4s ease-in infinite;
  animation: AnimationName 4s ease-in infinite; }

@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  .mail__btn:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

@media (min-width: 500px) {
  .mail__h2 {
    font-size: 35px;
    line-height: 80px; } }

@media (min-width: 800px) {
  .mail {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .mail__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .mail__btn-wrp {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 40%; }
  .mail__h2 {
    font-size: 30px; } }

.news__h2 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 35px; }

.news__title {
  line-height: 30px;
  text-align: center;
  font-weight: 300; }

.news-btn-svg {
  fill: #3383EA; }

.news__btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s; }
  .news__btn:hover {
    stroke-width: 2px;
    stroke: #3383EA; }
    .news__btn:hover svg {
      fill: white; }
  .news__btn:active svg {
    fill: #abcbd8; }

.news_btn--right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.news__card-wrp {
  margin: 0 auto;
  width: 80%; }

.news__card {
  margin: 0 auto;
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 240px;
  height: 300px;
  min-width: 200px;
  display: none; }

.news-active {
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: block; }

.news__img {
  width: 100%;
  height: 120px; }

.news__card-content {
  padding: 10px; }

.news__card-date-btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.news__card-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }

.news__card-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  margin: 15px 0; }

.news__card-date {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.02em; }

.news__card-btn {
  display: block;
  text-decoration: none;
  color: white;
  width: 95px;
  height: 22px;
  border-radius: 15px;
  background-color: #3383EA;
  font-weight: 500;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #F8F8F8; }
  .news__card-btn:hover {
    color: #3383EA;
    background-color: #F8F8F8; }

.news__wrp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto  50px;
  padding: 0 10px;
  max-width: 1340px; }

@media (min-width: 700px) {
  .news__card {
    width: 45%; }
  .news__card-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .news__h2 {
    font-size: 31px;
    line-height: 60px; } }

.footer__contacts {
  background-color: #0A2045;
  width: 100%;
  height: auto;
  padding: 30px 10px;
  color: white;
  font-size: 15px;
  line-height: 18px; }

.footer__cont-list {
  list-style: none;
  width: 270px;
  margin: 0 auto; }
  .footer__cont-list :last-child {
    margin-bottom: 0; }

.footer__cont-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0; }
  .footer__cont-item img {
    margin-right: 20px; }

.footer__cont-adress--tel {
  color: white;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em; }

.footer__second-color {
  width: 100%;
  background-color: #071A3A;
  padding: 30px 0; }

.footer__btn-wrp {
  width: 270px;
  margin: 0 auto; }
  .footer__btn-wrp :last-child {
    margin-bottom: 0; }

.footer__btn {
  max-width: 275px;
  display: block;
  width: 270px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid #3383EA;
  text-align: center;
  line-height: 46px;
  -webkit-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px; }
  .footer__btn:hover {
    background-color: #3383EA; }
  .footer__btn:active {
    border: 2px solid white; }

.icon-footer {
  fill: #3383EA; }

.footer__social-list {
  width: 250px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none; }

.footer__social-link {
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s; }
  .footer__social-link:hover svg {
    fill: white; }

.footer__logo {
  width: 200px;
  margin: 0 auto;
  text-align: center; }
  .footer__logo p {
    color: white;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2em; }

.footer__work-time {
  margin: 40px auto;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em; }

@media (min-width: 700px) {
  .footer__cont-list, .footer__btn-wrp {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .footer__cont-item, .footer__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45%; }
  .footer__social-list {
    width: 30%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100px; }
  .footer__social-item {
    width: 20%; }
  .footer__last-row-wrp {
    padding: 0 30px;
    margin: 40px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__logo {
    width: 30%; }
  .footer__work-time {
    width: 30%; } }

@media (min-width: 900px) {
  .footer__cont-item, .footer__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 30%; }
  .footer__cont-item {
    margin: 0; }
  .footer__social-list {
    max-width: 275px; }
  .footer__work-time {
    text-align: left;
    padding-left: 80px; }
  .footer__last-row-wrp {
    max-width: 1000px;
    margin: 40px auto; } }

.main-radio input[type='radio']:checked + label {
  background-color: rgba(0, 0, 6, 0.95);
  color: black; }

.learn-icon {
  stroke: #3383EA; }

.base-icon, .pro-icon, .trade-icon {
  fill: #3383EA; }

.learn__radio-label {
  color: #313131;
  width: 100%;
  height: 95px;
  margin: 0 auto;
  margin-bottom: 13px;
  border: none;
  text-decoration: none;
  max-width: 550px; }

.learn__input-radio {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  padding-top: 10px;
  height: 95px;
  width: 100%;
  line-height: 18px;
  color: white;
  border: none;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none; }
  .learn__input-radio svg {
    margin: 0 0 0 0; }

.learn__input-radio:focus {
  outline: none; }

.learn__radio-label--active {
  color: white; }
  .learn__radio-label--active svg {
    fill: white; }
  .learn__radio-label--active .learn-nav__text-wrp {
    color: white; }

.learn__input-radio span:first-of-type {
  position: relative;
  font-size: 15px;
  color: #313131; }

.learn-nav__text-wrp {
  position: relative;
  top: -135px;
  left: 85px;
  color: #313131;
  width: 60%; }
  .learn-nav__text-wrp br {
    display: none; }
  .learn-nav__text-wrp span {
    font-weight: 400;
    font-size: 19px; }
  .learn-nav__text-wrp p {
    font-weight: 300;
    margin-top: 3px; }

.learn-nav__arrow {
  position: relative;
  top: -85px;
  left: calc(100% - 105px);
  fill: #3383EA;
  -webkit-transform: rotate(-90Deg);
      -ms-transform: rotate(-90Deg);
          transform: rotate(-90Deg);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.learn__radio-label .base-icon, .pro-icon, .trade-icon {
  position: relative;
  top: -76px;
  left: 25px; }

.learn__input-radio:checked {
  background-color: #518edf; }
  .learn__input-radio:checked .learn-nav__text-wrp {
    color: white; }

.learn__input-radio:checked:hover {
  background-color: #6E9CD8; }

.learn__input-radio:hover:not(:checked) {
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1), inset 0px 0px 100px rgba(0, 0, 0, 0.05); }

.learn__input-radio:checked ~ .learn-nav__text-wrp {
  color: white; }

.learn__input-radio:checked ~ .base-icon {
  fill: white; }

.learn__input-radio:checked ~ .pro-icon {
  fill: white; }

.learn__input-radio:checked ~ .trade-icon {
  fill: white; }

.learn__input-radio:checked ~ .learn-nav__arrow {
  fill: white;
  -webkit-transform: rotate(0Deg);
      -ms-transform: rotate(0Deg);
          transform: rotate(0Deg); }

.learn-nav__btn-wrp {
  width: 92%;
  margin: -20px auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 320px; }

.learn-nav {
  margin-top: 0px;
  padding: 70px 0 60px 0;
  background-color: #f8f8f8; }

.learn-nav__h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.04em; }

.learn-nav__h2-line {
  width: 90%;
  height: 2px;
  background-color: #3383EA;
  margin: 20px auto 10px;
  border: none;
  display: block; }

.learn-nav__title {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.125em; }

@media (min-width: 700px) {
  .learn-nav__btn-wrp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 951px; }
  .learn__radio-label {
    width: 30%;
    height: 267px;
    text-align: center;
    max-width: 294px; }
  .learn__input-radio {
    height: 267px; }
  .learn-nav__text-wrp {
    width: auto;
    left: auto;
    top: -225px; }
    .learn-nav__text-wrp p {
      margin-top: 17px;
      font-size: 18px;
      line-height: 25px; }
    .learn-nav__text-wrp br {
      display: block; }
  .learn__radio-label .base-icon, .pro-icon, .trade-icon {
    position: relative;
    top: -246px;
    left: auto;
    right: auto; }
  .base-icon {
    width: 70px;
    height: 93px; }
  .pro-icon {
    width: 80px;
    height: 94px; }
  .trade-icon {
    width: 105px;
    height: 94px; }
  .learn-nav__arrow {
    display: none; }
  .learn-nav__h2-line {
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 30px; }
  .learn-nav__title {
    max-width: 800px;
    margin: 0 auto; }
  .learn-nav__h2 {
    font-size: 33px;
    line-height: 39px; } }

.learn-nav__h2--title {
  margin: 60px 0 30px 0; }

.course__h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400; }

.course__text-wrp {
  width: 90%;
  margin: 130px auto 0; }

.course__nmbr {
  color: #f1f1f1;
  font-size: 250px;
  line-height: 0px;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-align: right;
  position: relative;
  left: 5px;
  z-index: -1; }

.course__text {
  position: relative;
  top: -80px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.125em; }

.course__hr {
  display: none; }

@media (min-width: 700px) {
  .course {
    margin: 50px 0; }
  .course__h2 {
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0.105em; }
  .course__nmbr {
    font-weight: 900;
    text-align: left;
    left: 0;
    font-size: 150px;
    line-height: 150px;
    text-align: unset;
    letter-spacing: 0.1em;
    color: #EBEBEB; }
  .course__text {
    top: 0px;
    padding: 20px 0 20px 5%;
    font-size: 20px;
    line-height: 23px;
    border-left: 3px solid #3383ea; }
  .course__text-wrp {
    max-width: 1200px;
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.learn__h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400; }

.learn__adv {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.learn__adv-item {
  width: 90%;
  max-width: 500px;
  margin: 0 auto 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.learn__adv-descr {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px; }

.learn__adv-img {
  width: 70px;
  height: 54px;
  margin-right: 15px; }

@media (min-width: 700px) {
  .learn__h3 {
    font-size: 30px;
    margin-top: 60px; }
  .learn__adv {
    margin: 50px auto;
    width: 85%;
    max-width: 1150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .learn__adv-item {
    width: 45%;
    margin-bottom: 30px; }
  .learn__adv-img {
    width: 102px;
    height: 94px;
    margin-right: 20px; }
  .learn__adv-descr {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px; } }

.learn__info {
  width: 100%;
  padding: 40px 0 10px 0;
  background-color: #0A2045; }

.learn__h3--info {
  color: #fff; }

.learn__info-list {
  list-style: none;
  width: 90%;
  max-width: 630px;
  margin: 30px auto; }

.learn__info-item {
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .learn__info-item img {
    margin-right: 20px; }

.learn__info-btn {
  -webkit-transition: ease-in 0.1s;
  -o-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
  width: 40%;
  max-width: 315px;
  height: 50px;
  border: 2px solid #3383ea;
  background-color: #3383ea;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2%;
  font-size: 19px;
  border-radius: 35px;
  margin: 50px 0 0px 0;
  line-height: 50px;
  min-width: 140px;
  display: block;
  text-decoration: none; }
  .learn__info-btn:hover {
    background-color: #0A2045; }
  .learn__info-btn:active {
    border-color: #fff; }

.mail__h2--learn {
  line-height: 45px; }

@media (min-width: 800px) {
  .mail__btn-wrp--learn {
    width: 100%;
    max-width: 460px; }
  .mail__text--learn {
    text-align: left;
    padding: 25px 0 0 10px; }
  .mail--learn {
    margin-bottom: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1000px; } }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/* --------------------------------

Main Components

-------------------------------- */
.cd-gallery {
  width: 90%;
  max-width: 1048px;
  margin: 60px auto; }

.cd-gallery::after {
  clear: both;
  content: "";
  display: table; }

.cd-gallery > li {
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
  border-radius: .25em;
  height: 250px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 19px rgba(0, 9, 36, 0.2);
          box-shadow: 0px 0px 19px rgba(0, 9, 36, 0.2); }

.cd-gallery > li > a {
  display: block; }

.gallery__title {
  padding-bottom: 5px;
  width: 67px;
  margin-bottom: 15px;
  border-bottom: 3px solid #226AC6; }

.gallery__h3 {
  font-weight: 400;
  margin-bottom: 8px; }

.gallery__descr {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300; }

.cd-item-wrapper {
  position: relative;
  margin: 3em 0;
  font-size: 15px; }

.cd-item-wrapper li {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  width: 50%;
  opacity: 0;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, opacity;
  -webkit-transform: translateX(200%) scale(0.7);
  -ms-transform: translateX(200%) scale(0.7);
  transform: translateX(200%) scale(0.7);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s; }

.cd-item-wrapper li.selected {
  /* selected item */
  position: relative;
  opacity: 1;
  -webkit-transform: translateX(0) scale(1.3);
  -ms-transform: translateX(0) scale(1.3);
  transform: translateX(0) scale(1.3); }

.cd-item-wrapper li.move-left {
  /* item on left - preview visible */
  -webkit-transform: translateX(-100%) scale(0.7);
  -ms-transform: translateX(-100%) scale(0.7);
  transform: translateX(-100%) scale(0.7);
  opacity: 0.3; }

.cd-item-wrapper li.move-right {
  /* item on right - preview visible */
  -webkit-transform: translateX(100%) scale(0.7);
  -ms-transform: translateX(100%) scale(0.7);
  transform: translateX(100%) scale(0.7);
  opacity: 0.3; }

.cd-item-wrapper li.hide-left {
  /* items hidden on the left */
  -webkit-transform: translateX(-200%) scale(0.7);
  -ms-transform: translateX(-200%) scale(0.7);
  transform: translateX(-200%) scale(0.7); }

.cd-item-wrapper li img {
  display: block;
  width: 100%; }

.cd-dots {
  /* not visible in the html document - created using jQuery */
  position: absolute;
  bottom: 95px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: .2em; }

.cd-dots::after {
  clear: both;
  content: "";
  display: table; }

.cd-dots li {
  display: inline-block;
  float: left;
  margin: 0 5px;
  pointer-events: none; }

.cd-dots li.selected a {
  background: #2f2933;
  border-color: #2f2933; }

.cd-dots a {
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 1px solid #9688a0;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.2s, background-color 0.2s;
  -o-transition: border-color 0.2s, background-color 0.2s;
  transition: border-color 0.2s, background-color 0.2s; }

.cd-item-info {
  height: 90px;
  line-height: 90px;
  padding: 0 2em; }

.cd-item-info::after {
  clear: both;
  content: "";
  display: table; }

.cd-item-info b, .cd-item-info .cd-price, .cd-item-info .cd-new-price {
  font-weight: bold;
  font-size: 2rem; }

.cd-item-info b {
  float: left; }

.cd-item-info b a {
  color: #2f2933; }

.cd-item-info .cd-price, .cd-item-info .cd-new-price {
  /* .cd-new-price not visible in the html document - created using jQuery */
  float: right; }

.cd-item-info .cd-price {
  position: relative;
  margin-left: 10px;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }

.cd-item-info .cd-price::after {
  /* crossing line - visible if price is on sale */
  content: '';
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #a5d05e;
  opacity: 0;
  -webkit-transition: width 0.2s 0s, opacity 0s 0.2s;
  -o-transition: width 0.2s 0s, opacity 0s 0.2s;
  transition: width 0.2s 0s, opacity 0s 0.2s; }

.cd-item-info .cd-price.on-sale::after {
  opacity: 1;
  width: 100%;
  -webkit-transition: width 0.2s 0s, opacity 0s 0s;
  -o-transition: width 0.2s 0s, opacity 0s 0s;
  transition: width 0.2s 0s, opacity 0s 0s; }

.cd-item-info .cd-new-price {
  /* new price - visible if price is on sale */
  opacity: 0;
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s; }

.cd-item-info .cd-new-price.is-visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

.no-js .move-right,
.no-js .move-left {
  display: none; }

/* --------------------------------

xcredits

-------------------------------- */
.credits {
  width: 90%;
  margin: 2em auto;
  text-align: center; }

.no-touch .credits a:hover {
  text-decoration: underline; }

.lessons--desktop {
  display: none; }

.gallery__title--100 {
  width: 100px; }

@media (min-width: 600px) {
  .lessons--desktop {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .lessons--desktop li {
    width: 47%;
    max-width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #eeeeea;
    padding: 25px 35px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 19px rgba(0, 9, 36, 0.2);
            box-shadow: 0px 0px 19px rgba(0, 9, 36, 0.2); }
  .cd-gallery {
    display: none; }
  .gallery__title {
    width: 90px;
    font-size: 20px;
    line-height: 23px; }
  .gallery__h3 {
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    margin-bottom: 25px; }
  .gallery__title--100 {
    width: 100px; }
  .gallery__li-center--last {
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 850px) {
  .lessons--desktop li {
    width: 30%; }
  .gallery__li-center--last {
    margin-left: 0;
    margin-right: 0; }
  .gallery__li-center {
    margin-right: auto;
    margin-left: auto; } }

.learn__hr {
  border: none;
  width: 80%;
  max-width: 800px;
  height: 3px;
  background: -o-linear-gradient(358.76deg, #3383ea 29.88%, #226ac6 61.31%);
  background: linear-gradient(91.24deg, #3383ea 29.88%, #226ac6 61.31%);
  margin: 70px auto; }

.learn__pro {
  width: 80%;
  max-width: 500px;
  margin: 0 auto 70px;
  min-height: 300px;
  color: #fff;
  background-color: #6197DC;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 20px; }

.learn__pro-img {
  position: relative;
  top: -65px;
  width: 130px;
  left: -50px; }

.learn__pro-text {
  line-height: 30px;
  font-size: 16px;
  margin-top: -80px; }

.learn__pro-btn {
  text-decoration: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 70%;
  max-width: 315px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 25px;
  color: #313131;
  text-align: center;
  line-height: 52px;
  font-size: 18px;
  margin: 40px auto 10px;
  background-color: #fff; }
  .learn__pro-btn:hover {
    border: 2px solid #fff;
    background-color: #6197DC;
    line-height: 48px;
    color: #fff; }
  .learn__pro-btn:focus {
    border-color: #313131;
    color: #313131; }

.learn__pro--vip {
  background-color: #f8f8f8;
  color: #313131; }

.learn__vip-btn {
  top: auto;
  border: 2px solid #226AC6;
  line-height: 48px; }
  .learn__vip-btn:focus {
    background-color: #f8f8f8; }

@media (min-width: 700px) {
  .learn__pro-vip-wrp {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .learn__pro--vip {
    margin-left: 40px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto'; }
