@import "blocks/header.scss";
@import "blocks/about.scss";
@import "blocks/invest.scss";
@import "blocks/call.scss";
@import "blocks/news.scss";
@import "blocks/footer.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.page{
}
