
.about{
  display: flex;
  flex-direction: column;
}

.about__h2{
  margin-top: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.105em;
  font-size: 25px;
  text-align: center;
}

.about__h2-line{
  height: 2px;
  background-color: #3383EA;
  width: 180px;
  display: block;
  margin: 10px auto;
}

.about__logo-wrp{
  display: flex;
  width: 220px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.about__logo-text{
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.2em;
}

.about__text{
  width: 90%;
  margin: 10px auto;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: #8B8B8B;
}

.about__numbers{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 30px auto;
  justify-content: space-between;
}

.about__num-cell{
  width: 50%;
  margin-bottom: 30px;
}

.about__num-num{
  letter-spacing: 0.1em;
  color: #3383EA;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.about__num-text{
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
}

.advantages{
  background-color: #F2F5F6;
  padding: 30px 0;
  background-image: url("../img/adv-bg.jpg");
  background-size: cover;
}

.adv__wrp{
  max-width: 1250px;
  margin: 0 auto;
}

.adv__card{
  text-align: center;
  margin: 40px 0;
}

.adv__title{
  margin: 20px 0;
  font-size: 23px;
  line-height: 27px;
}

.adv__descr{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

@media (min-width:750px){
  .about__header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about__h2-wrp{
    width: 35%;
  }
  .about__text{
    width: 55%;
    margin: 0 0 0 auto;
  }
  .about__h2{
    font-size: 30px;
  }

  .about__h2-line{
    width: 220px;
  }

  .about__numbers{
    margin-top: 0;
    flex-direction: row;
    align-items: center;
  }
  .about__num-cell{
    width: 22%;
    margin-top: 20px;
  }

  .adv__wrp{
    display: flex;
    justify-content: space-between;
  }

  .about__num-num2{
    padding-top: 30px;
  }

  .adv__card{
    width: 33%;
  }

  .adv__title1{
    margin-top: 27px;
  }

  .adv__title3{
    margin-top: 5px;
  }
}

@media (min-width:1079px){
  .about__header{
    max-width: 1100px;
    margin: 0 auto;
  }
  .about__h2{
    font-size: 50px;
  }

  .about__h2-line{
    width: 372px;
  }

  .about__h2-wrp{
    width: 390px;
  }

  .about__text{
    padding-top: 50px;
  }
  .about__logo-text{
    font-size: 25px;
  }

  .about__logo{
    margin-right: 10px;
  }
  .about__logo-wrp {
    margin: 20px 0 0 50px;
  }
  .about__num-num{
    font-size: 40px;
  }
  .about__numbers{
    max-width: 1200px;
    margin: 20px auto;
  }
}




