.mail__text{
  text-align: center;
}

.mail__h2{
  font-weight: 300;
  font-size: 27px;
  line-height: 50px;
}

.mail__descr{
  text-transform: uppercase;
  font-weight: 300;
  line-height: 30px;
  font-size: 15px;
}

.mail__input{
  border: none;
  box-shadow: none;
  text-align: center;
  width: 80%;
  display: block;
  margin: 30px auto;
  border-bottom: 1px solid #313131;
  padding: 10px 0;
  outline: none;
  &:focus{
    border-bottom: 2px solid #313131;
  }
}

.mail__btn{
  width: 50%;
  max-width: 278px;
  height: 52px;
  border-radius: 25px;
  background-color: rgba(51, 131, 234, 0.84);
  border: none;
  color: #fff;
  transition: ease-in-out 0.1s;
  text-transform: uppercase;
  line-height: 55px;
  display: block;
  margin: 40px auto;
  background: linear-gradient(91.24deg, #3383ea 29.88%, #226ac6 61.31%);
  background-size: 400% 400%;
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
-webkit-animation: AnimationName 4s ease-in infinite ;
-moz-animation: AnimationName 4s ease-in infinite ;
animation: AnimationName 4s ease-in infinite ;
  &:hover{
    transform: scale(1.1);
  }

}

@media(min-width:500px){
  .mail__h2{
    font-size: 35px;
    line-height: 80px;
  }
}


@media(min-width:800px){
  .mail{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
  }

  .mail__text{
    order: 2;
  }
  .mail__btn-wrp{
    order: 1;
    width: 40%;
  }
  .mail__h2{
    font-size: 30px;
  }
}
