.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #C8C7C7;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3383EA;
  border: none;
  cursor: pointer;
  background-image: url('../img/dollar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3383EA;
  border: none;
  cursor: pointer;
  background-image: url('../img/dollar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}


.invest__radio input[type="radio"] {
  width: 100%;
  height: 35px;
  border-radius: 9px;
  border: none;
  background-color: white;
  -webkit-appearance: none; /*to disable the default appearance of radio button*/
  -moz-appearance: none;
  transition: all 0.3s ease-in-out;
}

.invest__radio{
  white-space:nowrap;
  border: none;
  width: 29%;

}
.invest__radio--1 input[type="radio"]{
  box-shadow: 0px 0px 10px #FFC700;
  border: none;

}

.invest__radio--2 input[type="radio"]{
  box-shadow: 0px 0px 10px #0DA500;
  border: none;

}

.invest__radio--3 input[type="radio"]{
  box-shadow: 0px 0px 10px #FF0000;
  border: none;

}

.invest__radio input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
  outline: none; /*to remove the square border on focus*/
}

.invest__radio--1 input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
  background-color: #ffc800;
}
.invest__radio--2 input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
  background-color: #0DA500;
}
.invest__radio--3 input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
  background-color: #FF0000;
}

.invest__radio input[type="radio"]:checked ~ span:first-of-type {
  color: white;
}

.invest__btn-text:first-of-type {
  position: relative;
  margin-left: -35px;
  left: -39%;
  font-size: 15px;
  color: #313131;
}

.invest__btn-text{
  position: absolute;
  top: -12px;
}

.invest__h2{
  text-transform: uppercase;
  font-size: 24px;
  margin: 40px 0 30px 0;
  text-align: center;
  font-weight: 300;
  line-height: 28px;
}

.invest__btn-wrp{
  width: 90%;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.invest__btn-title{
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.invest__sum-inv{
  margin: 30px auto 20px;
  width: 100%;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  justify-content: space-between;
}

.invest__sum--span{
  border-bottom: 1px solid black;
  font-size: 22px;
}

.invest__slider{
  width: 90%;
  margin: 0 auto;
}

.invest__text-wrp{
  width: 90%;
  margin: 0 auto;
  display: none;
}

.invest__active{
  display: block;
}

.invest__sum-inv--profit{
  width: 90%;
}

.invest__company{
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 30px;
  margin: 30px 0 20px;
}

.invest__company-text{
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;
}

.opacity{
  opacity: 0;
}

.gr_col1{
  opacity: 1;
  transform: translateY(100%);
  animation: popup 2s normal forwards cubic-bezier(.48,1.04,.8,.98);
}
@keyframes popup{
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0px);
  }
}

.graph-line{
  opacity: 1;
  stroke-dashoffset: 630.6;
  animation: circle-default 2.5s normal forwards;
  stroke-dasharray: 115%;
}

@keyframes circle-default {
	to {
		stroke-dashoffset: 0;
	}
}

.grafic{
  width: 90%;
  height: auto;
  margin: 0 auto 500px;
}
.grafic-svg{
  display: block;
  width: 100%;
  height: auto;
}
.grafic__text{
  font-weight: 300;
font-size: 14px;
line-height: 29px;
width: 100%;
display: flex;
justify-content: space-around;
padding: 0 10% 0 17%;
}

.disp-none{
 opacity: 0;
}
@media (min-width: 550px){
  .invest__btn-text:first-of-type {
    left: -43%;
  }
  .invest__h2{
    font-size: 32px;
    margin: 50px 0;
  }

  .invest__btn-title {
    margin-bottom: 40px;
  }

}
@media (min-width: 800px){
  .grafic__text{
    font-size: 18px;
    line-height: 40px;

  }
  .invest__btn-text:first-of-type {
    left: -39%;
  }

  .invest__btn-title{
    text-align: left;
  }
  .invest{
    max-width: 1240px;
    width: 95%;
    margin: 20px auto 100px;
  }
  .invest__second-row{
    display: flex;

    justify-content: space-between;

  }
  .grafic{
    width: 65%;
    margin: 0;
    height: 65%;
    order: 1;
  }

  .invest__text-wrp-wrp{
    width: 30%;
    order: 2;
  }

  .invest__first-row{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }

  .invest__btn-wrp{
    width: 43%;
    height: 60px;
    margin: 0;

  }

  .invest__slider{
    width: 50%;
    height: 60px;
    margin: 0;
  }

  .invest__sum-inv {
    margin: 0px auto 45px;
}

}

@media (min-width: 1000px){

  .invest__btn-wrp {
    width: 35%;
    margin-left: 5%;

  }
}
